@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $foreground-palette: map.get($config, 'foreground');

  .app-club-list-header {
    color: mat.get-color-from-palette($foreground-palette, text);
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}
