<div class="container" fxLayout="column" fxLayoutGap="25px">
  <div fxLayoutAlign="space-between">
    <div
      gdAreas="img title | img autor | img genrer | img stars"
      gdAlignRows="start"
      gdAlignColumns="center center"
      gdGap="0 10px"
    >
      <img
        gdArea="img"
        src="https://i.pinimg.com/236x/11/b3/89/11b3895b490c71d3358342b846a68c2c.jpg"
      />
      <h2 class="mat-title" gdArea="title">Livro Alice</h2>
      <div
        fxLayout
        fxLayoutGap="5px"
        fxLayoutAlign="start center"
        gdArea="autor"
      >
        <h2 class="mat-body-1">Autor:</h2>
        <h2 class="mat-body-2">Fábio Dantas</h2>
      </div>

      <div
        fxLayout
        fxLayoutGap="5px"
        fxLayoutAlign="start center"
        gdArea="genrer"
      >
        <h2 class="mat-body-1">Genero:</h2>
        <h2 class="mat-body-2">Romance</h2>
      </div>

      <div gdArea="stars" fxLayout fxLayoutGap="10px">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </div>
    </div>

    <button mat-icon-button (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
  <div class="mat-h6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptates
    facere cum fuga modi harum perferendis aspernatur molestias iusto animi.
  </div>
</div>
