<div class="container" fxLayout="column" fxLayoutGap="25px">
  <div
    gdAreas="img title | img genrer | img members | img stars"
    gdAlignRows="start"
    gdAlignColumns="center center"
    gdGap="0 10px"
  >
    <img
      gdArea="img"
      src="https://i.pinimg.com/236x/11/b3/89/11b3895b490c71d3358342b846a68c2c.jpg"
    />
    <h2 gdArea="title">Livro Alice</h2>
    <div gdArea="genrer">Autor</div>
    <div gdArea="members">Genero</div>
    <div gdArea="stars" fxLayout fxLayoutGap="10px">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </div>
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptates
    facere cum fuga modi harum perferendis aspernatur molestias iusto animi.
  </div>
</div>
