@use '~@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50: #e6e7e8,
  100: #c0c4c5,
  200: #969c9f,
  300: #6b7479,
  400: #4c575c,
  500: #2c393f,
  600: #273339,
  700: #212c31,
  800: #1b2429,
  900: #10171b,
  A100: #5fc3ff,
  A200: #2cb0ff,
  A400: #009bf8,
  A700: #008bdf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #e4f8f8,
  100: #bceeee,
  200: #90e3e3,
  300: #64d8d8,
  400: #42cfcf,
  500: #21c7c7,
  600: #1dc1c1,
  700: #18baba,
  800: #14b3b3,
  900: #0ba6a6,
  A100: #d4ffff,
  A200: #a1ffff,
  A400: #6effff,
  A700: #54ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$book-club-app-primary: mat.define-palette($primary-palette);
$book-club-app-accent: mat.define-palette($accent-palette);

$book-club-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $book-club-app-primary,
      accent: $book-club-app-accent,
    ),
  )
);

@include mat.all-component-themes($book-club-app-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
