<div class="container" fxLayout fxLayoutAlign="space-between">
  <div fxLayout fxLayoutGap="10px">
    <img
      src="https://i.pinimg.com/474x/c5/43/39/c5433968a0138c471813e05a3e641c4f.jpg"
    />
    <div fxLayout="column">
      <div class="mat-body-1">João da Silva</div>
      <div class="mat-caption">28 anos</div>
      <div class="mat-caption">Terror, Aventura...</div>
    </div>
  </div>
  <div fxLayout="column">
    <button mat-button color="accent">Aceitar</button>
    <button mat-button color="warn">Recusar</button>
  </div>
</div>
