<div class="container">
  <book-club-club-search
    (search)="onClubSearchUpdate($event)"
  ></book-club-club-search>

  <book-club-club-list
    title="Resultado da Pesquisa"
    [clubs]="(clubState.clubsFound$ | async)!"
    [loading]="(clubState.clubSearchLoading$ | async)!"
    (cardClick)="onClubSelect()"
  ></book-club-club-list>

  <mat-divider></mat-divider>

  <div gdColumns="3fr 1fr" fxLayoutGap="20px">
    <book-club-club-list
      title="Seus Livros"
      [clubs]="(clubState.myClubsFound$ | async)!"
      [loading]="(clubState.myClubsSearchLoading$ | async)!"
      (cardClick)="goToClub()"
    ></book-club-club-list>
    <book-club-club-form></book-club-club-form>
  </div>

  <book-club-home-footer></book-club-home-footer>
</div>
