<div class="container" fxLayout="column" fxLayoutGap="25px">
  <div
    gdAreas="img title | img genrer | img members"
    gdAlignRows="start"
    gdAlignColumns="center center"
    gdGap="0 10px"
  >
    <img
      gdArea="img"
      src="https://i.pinimg.com/236x/2e/5d/13/2e5d139c893d1412df4012318762f26c.jpg"
    />
    <div gdArea="title">Nome do Clube</div>
    <div gdArea="genrer">Gênero</div>
    <div gdArea="members">51 Membros</div>
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptates
    facere cum fuga modi harum perferendis aspernatur molestias iusto animi.
  </div>
  <div fxLayout="column" fxLayoutGap="10px">
    <div>Livros Debatidos</div>
    <book-club-book-list></book-club-book-list>
  </div>
</div>
