@use '~@angular/material' as mat;
@use '../../app' as app;

@include mat.core();

@mixin include-material-themes($theme) {
  @include mat.badge-theme($theme);
  @include mat.button-theme($theme);
  @include mat.card-theme($theme);
  @include mat.core-theme($theme);
  @include mat.dialog-theme($theme);
  @include mat.divider-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.input-theme($theme);
  @include mat.menu-theme($theme);
  @include mat.progress-bar-theme($theme);
  @include mat.select-theme($theme);
  @include mat.tabs-theme($theme);
  @include mat.toolbar-theme($theme);
}

@mixin include-material-colors($theme) {
  @include mat.badge-color($theme);
  @include mat.button-color($theme);
  @include mat.card-color($theme);
  @include mat.core-color($theme);
  @include mat.dialog-color($theme);
  @include mat.divider-color($theme);
  @include mat.form-field-color($theme);
  @include mat.icon-color($theme);
  @include mat.input-color($theme);
  @include mat.menu-color($theme);
  @include mat.progress-bar-color($theme);
  @include mat.select-color($theme);
  @include mat.tabs-color($theme);
  @include mat.toolbar-color($theme);
}

@mixin include-app-themes($theme) {
  @include app.app-theme($theme);
  @include app.club-search-theme($theme);
  @include app.club-list-theme($theme);
  @include app.chat-message-theme($theme);
}

@mixin include-app-colors($theme) {
  @include app.app-color($theme);
  @include app.club-search-color($theme);
  @include app.club-list-color($theme);
  @include app.chat-message-color($theme);
}

@import 'palette.scss';

@import 'light.scss';
@include include-material-themes($light-theme);
@include include-app-themes($light-theme);

.dark-theme {
  @import 'dark.scss';
  @include include-material-colors($dark-theme);
  @include include-app-colors($dark-theme);
}
