<mat-card>
  <mat-card-header>
    <mat-card-title>{{ club.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="club.cover" alt="Club Cover" />
  <mat-card-footer>
    <mat-card-subtitle fxLayout fxLayoutAlign="space-evenly">
      <span fxLayout fxLayoutGap="5px" fxLayoutAlign="center center">
        <span class="mat-body-1">Integrantes:</span>
        <span class="mat-body-2">234</span>
      </span>
      <span fxLayout fxLayoutGap="5px" fxLayoutAlign="center center">
        <span class="mat-body-1">Eventos:</span>
        <span class="mat-body-2">3</span>
      </span>
    </mat-card-subtitle>
  </mat-card-footer>
</mat-card>
