<mat-toolbar gdColumns="1fr" gdAuto="column" gdGap="10px">
  <span class="logo" routerLink="/">Book Club</span>
  <button mat-icon-button (click)="toggleTheme.emit()">
    <mat-icon>{{ getThemeIcon() }}</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="notificationPanel">
    <mat-icon>notifications_none</mat-icon>
  </button>
  <mat-menu #notificationPanel="matMenu">
    <ng-template matMenuContent>
      <book-club-notification-panel></book-club-notification-panel>
    </ng-template>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openUserForm()">
      <mat-icon>person_outline</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>
