<div fxLayout="column" fxLayoutGap="10px">
  <h2>Sugira um Livro</h2>
  <div gdColumns="1fr auto 1fr" gdAuto="dense" gdGap="10px">
    <div fxLayout="column" fxLayoutGap="5px">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gêneros</mat-label>
        <mat-select>
          <mat-option *ngFor="let genrer of []" [value]="0">
            {{ genrer }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Autor</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <book-club-book-list></book-club-book-list>
  </div>
</div>
