<div class="container" fxLayout="column" fxLayoutGap="25px">
  <div fxLayoutAlign="space-between">
    <div
      gdAreas="img title | img genrer | img members"
      gdAlignRows="start"
      gdAlignColumns="center center"
      gdGap="0 10px"
    >
      <img
        gdArea="img"
        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      />
      <div class="mat-title" gdArea="title">Nome do Clube</div>
      <div
        fxLayout
        fxLayoutGap="5px"
        fxLayoutAlign="start center"
        gdArea="genrer"
      >
        <h2 class="mat-body-1">Gênero:</h2>
        <h2 class="mat-body-2">Terror, Aventura...</h2>
      </div>
      <div
        fxLayout
        fxLayoutGap="5px"
        fxLayoutAlign="start center"
        gdArea="members"
      >
        <h2 class="mat-body-1">Membros:</h2>
        <h2 class="mat-body-2">51</h2>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="mat-h6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptates
    facere cum fuga modi harum perferendis aspernatur molestias iusto animi.
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutGap="10px">
    <div class="mat-title">Livros Debatidos</div>
    <book-club-book-list (cardClick)="openBookDetails()"></book-club-book-list>
  </div>
</div>
