<div
  class="container"
  gdAreas="icon author | icon message"
  gdColumns="auto 60%"
  gdAlignColumns="start center"
  [gdAlignRows]="isMine ? 'end' : 'start'"
  gdGap="0 10px"
>
  <img
    gdArea="icon"
    src="https://i.pinimg.com/564x/18/5e/72/185e72c8cae9efc46c45e1d00e0f30e9.jpg"
  />
  <div gdArea="author" fxLayout fxLayoutGap="10px">
    <div class="author">Diannel Russel</div>
    <div class="hour">10/11/2020 às 9:00pm</div>
  </div>
  <div gdArea="message" class="message">Exemplo de mensagem</div>
</div>
