@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $background-palette: map.get($config, 'background');

  .background {
    background: mat.get-color-from-palette($background-palette, background);
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}
